/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  max-height: 100vh;
  max-width: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("./fonts/fontello.eot");
  src: url("./fonts/fontello.eot?#iefix") format("embedded-opentype"), url("./fonts/fontello.woff") format("woff"),
    url("./fonts/fontello.ttf") format("truetype"), url("./fonts/fontello.svg#fontello") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 25px;
  height: auto;
  padding: 0 0 3px 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;

  cursor: pointer;

  background-color: #fff;
  color: transparent;
  border: none;
  opacity: 0.8;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  opacity: 1;
  outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  display: inline-block;
  padding: 5px 0 1px;

  opacity: 1;
  color: #464648;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -1px;
}
[dir="rtl"] .slick-prev {
  right: -1px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -1px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -1px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  /* width: 12px;
  height: 12px; */
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  background-color: black;
  border: 0;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 16px;
  line-height: 0;
  outline: 2px solid transparent;
  position: relative;
  width: 16px;
}
.slick-dots li button.button--bg-img {
  background-color: transparent;
}
.slick-dots li button.button--bg-img[style='background-image: url("")'] {
  background-color: black;
}
.slick-dots li button::before {
  background-color: inherit;
  background-image: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li.slick-active button::before,
.slick-dots li.slick-active button:focus::before {
  opacity: 1;
}
/* ACCESSIBLE SLIDER STYLING */
.slider-controls {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accessible .slick-control {
  margin: 0 5px;
}
.accessible .slick-prev,
.accessible .slick-next {
  display: inline-block;
  opacity: 1;
  position: relative;
  transform: none;
}
.accessible .slick-prev::before,
.accessible .slick-next::before {
  color: black;
  opacity: 1;
}
.accessible .focus-visible.slick-prev:hover,
.accessible .focus-visible.slick-next:hover,
.accessible .focus-visible.slick-prev:focus,
.accessible .focus-visible.slick-next:focus,
.block .accessible .slick-dots li button.focus-visible:focus {
  outline: 2px solid red;
}
.accessible .slick-dots li button {
  background: rgba(0, 0, 0, 0.3);
  background-image: none !important;
  color: white;
  font-size: 1rem;
  height: 20px;
  width: 20px;
}
.accessible .slick-dots li.slick-active button {
  background: #000;
}
.accessible .slick-dots li button::before {
  background: #000;
  z-index: -1;
}
.accessible .slick-dots li.slick-active button,
.accessible .slick-dots li.slick-active button:focus {
  outline: 2px solid white;
}
